* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  height: 200px;
  width: 1380px;
  background-size: cover;
  padding: 10%;
  margin: 0px;
  color: white;
}
.bottom-container {
  background-color: #152850;
  background-size: cover;
  color: white;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.title input {
  height: 30px;
  background-color: transparent;
  border: 0px;
}

.image {
  width: 150px;
  height: 100px;
  margin-right: 15px;
  margin-bottom: 10px;
}
li {
  list-style: none;
  display: flex;
}
.pop {
  color: #3b82f6;
}
li button {
  background-color: transparent;
  height: 20px;
}
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  width: 220px;
  background-color: transparent;
}
.not-found-container {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-container p {
  font-size: 36px;
}
.input {
  background-color: transparent;
  border: 0px;
  outline: none;
  color: white;
}
